[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
opencv-python = "*"
matplotlib = "*"
jupyter = "*"
notebook = "*"
tqdm = "*"
cvxopt = "*"
gym = "*"
lets-plot = "*"
box2d = "*"
box2d-py = "*"
catboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
