[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
opencv-python = "*"
matplotlib = "*"
jupyter = "*"
notebook = "*"
tqdm = "*"


[dev-packages]

[requires]
python_version = "3.8"
